@model Books.Models.Book
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />

<ul class="list-group list-group-flush">
    <li class="list-group-item text-white bg-secondary fw-bold d-flex justify-content-between align-items-center">
        <span>
            @Model.Title
        </span>
        <a class="btn btn-info" href="@Url.Action("Edit", "Books", new {id = Model.Id})">
            <i class="bi bi-pencil"></i>
        </a>
    </li>
    <li class="list-group-item">@Model.Author</li>
    <li class="list-group-item">@Model.Category.Name</li>
    <li class="list-group-item">@Model.Description</li>
    <li class="list-group-item">@Model.AddedOn</li>
</ul>
